PORT=9090
FRONTEND_ORIGIN=http://127.0.0.1:5173
FIRST_PARTY_ANALYTICS_DIR=.first-party-analytics
FIRST_PARTY_ALLOWED_ORIGINS=http://127.0.0.1:5173,http://localhost:5173,https://fashionfactory.jiocommerce.io
FIRST_PARTY_PROPERTY_ID=538449109
FIRST_PARTY_SOURCE_NAME=Fashion Factory (Companion App Prod)
FIRST_PARTY_MEASUREMENT_ID=G-MYZM2V20D9
FIRST_PARTY_STREAM_ID=14914518095
FIRST_PARTY_STREAM_URL=https://fashionfactory.jiocommerce.io
FIRST_PARTY_SOURCE_URL=https://fashionfactory.jiocommerce.io/ext/fynd-n-go/app/selfcheckout/?_ds=2790
FIRST_PARTY_DS=2790
FIRST_PARTY_TIMEZONE=Asia/Kolkata
FIRST_PARTY_CURRENCY=INR
FIRST_PARTY_PILOT_STORES_LIVE=2
FIRST_PARTY_PILOT_STORES_TOTAL=2
FIRST_PARTY_KIOSKS_INSTALLED=2
